.aboutSection {
  position: relative;
  overflow: hidden; 
  background-image: url('/logos/5A.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #222222;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;

}



.container {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.textContainer {
  text-align: center;
  max-width: 80%;
}

.header {
  font-size: 3rem;
  font-weight: 700;
}

.header span {
  display: inline-block;
  animation: rotateEmoji 2s infinite alternate;
}

/* Rotate emoji back and forth 6 degrees */
@keyframes rotateEmoji {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

/* Social Links */
.socialLinks {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.socialLogo {
  transition: transform 0.3s ease;
}

.socialLogo:hover {
  transform: scale(1.2);
}

/* My Skills */
.mySkills {
  text-align: center;
  margin-top: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.skillBox {
  padding: 20px 25px;
  background: #ffffff60;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.skillBox:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.skillLogo {
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.skillBox:hover .skillLogo {
  filter: grayscale(0%);
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .textContainer {
    max-width: 95%;
  }
}

@media (max-width: 480px) {
  .textContainer {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .header {
    font-size: 2.5rem;
  }

  .skillsGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    justify-content: center;
  }

  .textContainer {
    max-width: 80%;
  }

  .socialLinks {
    gap: 15px;
  }

  .skillBox {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 2rem;
  }

  .skillsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skillBox {
    padding: 10px;
    font-size: 0.9rem;
  }

  .socialLinks {
    gap: 10px;
  }

  .textContainer {
    max-width: 90%;
  }
}

/*
@media (max-width: 480px) {
  .header {
    font-size: 1.8rem;
  }

  .skillsGrid {
    grid-template-columns: 2fr;
  }

  .skillBox {
    padding: 10px 15px;
    font-size: 0.8rem;
  }

  .socialLinks {
    gap: 8px;
  }
}
  */

