* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  padding-top: -4rem;
}
html, body {
 height: 100%;
 width: 100%;
 margin: 0 auto;
}

section {
  width: 100%;
    height: 100%;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
}


/*removes random section*/
#loom-companion-mv3 {
    display: none;
}

input {
      height: 50px;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 80%;
    }
    textarea {
      height: 80px;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 80%;
    }
   
  
    input:focus,
    textarea:focus {
      outline-color: black;
    }