* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 width: 97%;
 margin: 0 auto;
}

section {
    height: 100%;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
}


/*removes random section*/
#loom-companion-mv3 {
    display: none;
}