.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: white;
  z-index: 1000;
}

    
    .container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
    }
    
    .navList {
      font-size: 18px;
      font-weight: 400;
      display: flex;
      gap: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .title {
      color: #f08080;
    }
    
    .navItem {
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      padding-bottom: 0.2rem;
      text-decoration: none;
      color: black;
      position: relative;
    }
    
    .navItem::after {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      width: 0%;
      background: lightcoral;
      transition: width 0.2s;
    }
    
    .navItem:hover::after {
      width: 100%;
    }

    
    