.projectsSection {
  padding: 0;
  text-align: left;
  background-color: white;
}

.projectsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projectCard {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease;
}



.projectImageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projectImage {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.buttonsContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  z-index: 2;
}

.iconButton {
  color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.iconButton:hover {
  transform: scale(1.1);
  color: white;
}

.githubButton {
  padding: 8px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.liveButton {
  padding: 6px;
  border-radius: 50%;
  font-size: 1.8rem;

}

.projectInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  text-align: left;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover .projectInfo {
  transform: translateY(0);
}

.projectTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.projectDescription {
  font-size: 1rem;
  opacity: 0.9;
}

.toolsUsed {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.toolBadge {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
  white-space: nowrap;
}

